<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ fooditem?.brandOwner}}</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <h3 class="ion-text-center">{{ fooditem?.description}}</h3>
  <div class="ion-text-center">
    <ion-icon 
      [name]="fooditem?.isFavorite ? 'heart' : 'heart-outline'" 
      color="danger" 
      style="zoom:1.5;"
  
      (click) = "onToggle()"
      ></ion-icon></div>
  
  <ion-card>
    <ion-title >Nutrients:</ion-title>  
    <ion-grid ion-grid-padding="1">
       <ion-row *ngFor="let nt of fooditem?.foodNutrients; let i=index;">
         <ion-col size=".5"></ion-col>
         <ion-col>{{ nt.nutrient.name }}</ion-col>
         <ion-col>{{ nt.amount }} {{ nt.nutrient.unitName}}</ion-col>
       </ion-row>
    </ion-grid>   
  </ion-card>
</ion-content>
